<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-suite-initializer" parallel="false" thread-count="1">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.identity.integration.test.listeners.IdentityTestListener"/>
    </listeners>

    <test name="is-tests-initialize" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.IdentityServerTestSuitInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.base.TomcatInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.base.LDAPServerInitializerTestCase"/>
        </classes>
    </test>

    <!--Disabling since the WS-Trust functionality is provided as a connector and it does not exist in the product by default.-->
    <!--<test name="is-tests-default-configuration-sts" preserve-order="true" parallel="false" group-by-instances="true">-->
        <!--&lt;!&ndash; Active sts test case needs to run before passive sts test case&ndash;&gt;-->
        <!--<classes>-->
            <!--<class name="org.wso2.identity.integration.test.sts.ActiveSTSTestCase"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="is-tests-default-configuration" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.saml.SPMetadataTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.IDPMetadataTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLMetadataTestCase"/>
            <class name="org.wso2.identity.integration.test.oauth2.OAuth2ServiceSAML2BearerGrantTestCase"/>
            <class name="org.wso2.identity.integration.test.requestPathAuthenticator.SAMLWithRequestPathAuthenticationTest" />
            <class name="org.wso2.identity.integration.test.saml.SAMLErrorResponseTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLFederationDynamicQueryParametersTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLInvalidIssuerTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLSSOTestCase"/>
            <class name="org.wso2.identity.integration.test.sts.TestPassiveSTS"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLIdPInitiatedSLOTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLIdPInitiatedSSOTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLSSOConsentTestCase"/>
<!--            <class name="org.wso2.identity.integration.test.saml.SAMLARTRESOLVETestCase"/>-->
        </classes>
    </test>

    <test name="is-test-rest-api" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.rest.api.server.application.management.v1.ApplicationManagementSuccessTest"/>
            <class name="org.wso2.identity.integration.test.rest.api.server.application.management.v1.ApplicationManagementFailureTest"/>
            <class name="org.wso2.identity.integration.test.rest.api.server.application.management.v1.ApplicationImportExportTest"/>
            <class name="org.wso2.identity.integration.test.rest.api.server.application.management.v1.ApplicationPatchTest"/>
            <class name="org.wso2.identity.integration.test.rest.api.server.application.management.v1.ApplicationManagementSAMLSuccessTest"/>
            <class name="org.wso2.identity.integration.test.rest.api.server.application.management.v1.ApplicationManagementOAuthSuccessTest"/>
            <class name="org.wso2.identity.integration.test.rest.api.server.application.management.v1.ApplicationManagementOAuthFailureTest"/>
            <class name="org.wso2.identity.integration.test.rest.api.server.application.management.v1.ApplicationManagementPassiveStsSuccessTest"/>
        </classes>
    </test>

    <test name="is-tests-federation-restart" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.base.SecondaryCarbonServerInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLFederationWithFileBasedSPAndIDPTestCase"/>
            <class name="org.wso2.identity.integration.test.saml.ChangeACSUrlTestCase"/>
        </classes>
    </test>
    <test name="is-tests-with-individual-configuration-changes" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.saml.RegistryMountTestCase"/>
            <!--<class name="org.wso2.identity.integration.test.saml.SAMLECPSSOTestCase"/>-->
            <class name="org.wso2.identity.integration.test.saml.SAMLSSOForAdminLoginTestCase"/>
        </classes>
    </test>

    <test name="is-tests-saml-query-profile" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.saml.SAMLQueryProfileTestBase"/>
            <class name="org.wso2.identity.integration.test.saml.SAMLQueryProfileTestCase"/>
        </classes>
    </test>
</suite>
